html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--sage-green);
    color: var(--moss-green);
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: var(--charcoal);
}

a {
    color: var(--sage-green);
    text-decoration: none;
}

a:hover {
    color: var(--dark-forest-green);
}

img {
    max-width: 100%;
    height: auto;
}
